@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	--primary-background: hsl(0, 0%, 100%);
	--secondary-background: hsl(225, 100%, 98%);
	--card-background: hsl(227, 47%, 96%);
	--primary-text: hsl(230, 17%, 14%);
	--secondary-text: hsl(228, 12%, 44%);

	--lime-green: hsl(163, 72%, 41%);
	--bright-red: hsl(356, 69%, 56%);
	--twitter: hsl(195, 100%, 50%);
	--facebook: hsl(203, 89%, 53%);
	--instagram: linear-gradient(-90deg, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
	--youtube: hsl(348, 97%, 39%);
}

[data-theme="dark"] {
	--primary-background: hsl(230, 17%, 14%);
	--secondary-background: hsl(232, 19%, 15%);
	--card-background: hsl(228, 28%, 20%);
	--primary-text: hsl(0, 0%, 100%);
	--secondary-text: hsl(228, 34%, 66%);
}

html {
	font-size: 62.5%;
}

body {
    font-family: 'Inter', sans-serif;
    color: var(--primary-text);
    font-weight: 700;
    font-size: 1.4rem;
    min-height: calc(100vh - 3rem);
    position: relative;
    background: linear-gradient(
        to bottom,
        var(--secondary-background) 24rem,
        var(--primary-background) 24rem,
        var(--primary-background) 100%
    );
}

h1 {
	margin: 0;
	font-size: 5rem;
}

h2 {
	margin: 0;
	font-size: 3rem;
}

h3 {
	letter-spacing: 5px;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 1.2rem;
	margin-bottom: 2rem;
	margin-top: 2px;
	color: var(--secondary-text);
}

p,
label {
	margin: 0;
	color: var(--secondary-text);
}

section {
    padding-bottom: 1rem;
}

.mb-4 {
    margin-bottom: .5rem;
}

.flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.container {
	padding: 0 2rem;
	margin: 3rem auto;
	max-width: 100%;
	width: 1200px;
}

.header-container {
	justify-content: space-between;
}

.switch {
	margin-left: 1rem;
	height: 3rem;
	width: 6rem;
	position: relative;
}

.switch input {
	display: none;
}

.slider {
	background: hsl(230, 22%, 74%);
	bottom: 0;
	cursor: pointer;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: .4s;
}

.slider:before {
	background-color: var(--card-background);
	bottom: 4px;
	content: "";
	height: 2.2rem;
	left: 4px;
	position: absolute;
	transition: .4s;
	width: 2.2rem;
}

input:checked + .slider {
	background: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
}

input:checked + .slider:before {
	transform: translateX(3rem);
}

.slider.round {
	border-radius: 3.4rem;
}

.slider.round:before {
	border-radius: 50%;
}

.section-title {
    color: var(--secondary-text);
    margin-bottom: 3rem;
}

.grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 2rem;
}

.stats {
	flex-direction: column;
	justify-content: space-between;
}

.box {
    display: flex;
	background-color: var(--card-background);
	border-radius: .6rem;
	padding: 3rem;
}

.box-lg {
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	min-height: 25rem;
	position: relative;
}

.box-sm {
    min-height: 14rem;
    flex-direction: column;
    justify-content: space-between;
}

.social img {
	margin-right: 1rem;
}

.box-lg::before {
	content: "";
	height: 4px;
	width: 100%;
	position: absolute;
	top: 0;
	background: transparent;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
}

.facebook::before {
	background-color: var(--facebook);
}

.twitter::before {
	background-color: var(--twitter);
}

.instagram::before {
	background: var(--instagram);
}

.youtube::before {
	background-color: var(--youtube);
}

.up {
	color: var(--lime-green);
	position: relative;
	padding-left: 1.5rem;
	display: inline-block;
	margin-bottom: 0;
}

.down {
	color: var(--bright-red);
	position: relative;
	padding-left: 1.5rem;
	display: inline-block;
	margin-bottom: 0;
}

.up::before,
.down::before {
	width: 0;
	height: 0;
	content: "";
	position: absolute;
	top: 6px;
	left: 0;
}

.up::before {
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid var(--lime-green);
}

.down::before {
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid var(--bright-red);
}

.attribution {
    bottom: 5px;
    position: absolute;
    text-align: center;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .grid {
      grid-template-columns: repeat(1, 1fr);
    }
  
    .title {
        padding-bottom: 2rem;
        margin-bottom: 2rem;
        border-bottom: 2px solid hsl(230, 22%, 74%);
        width: 100%;
    }
    
    .theme-switch-wrapper {
        width: 100%;
    }
  }